body {
  margin: 0;
  padding: 0;

  .root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .margin-top20px {
    margin-top: 20px;
  }

  .max-size {
    max-width: 40%;
    max-height: 20%;
  }
}
